USE [BD_RCPDOC]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==========================================================================================
-- Autor:       Mesa de Partes Digital
-- Fecha:       23/06/2026
-- Descripción: Obtiene los datos de una persona específica por su tipo y número de documento.
--              Optimizado para la validación de identidad en el formulario.
-- ==========================================================================================
CREATE PROCEDURE [dbo].[USP_Persona_ObtenerPorDocumento]
    @iCodTipoDocPer INT,
    @vDocPer NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        [iCodPer], [vDocPer], [vNombres], [vApellidoPaterno], [vApellidoMaterno]
    FROM 
        [dbo].[T_Persona] WITH (NOLOCK)
    WHERE 
        [iCodTipoDocPer] = @iCodTipoDocPer
        AND [vDocPer] = @vDocPer
        AND [bActivo] = 1;
END;

-- ==========================================================================================
-- Garantiza que la consulta se resuelva íntegramente desde el árbol del índice sin necesidad 
-- de incurrir en operaciones adicionales de búsqueda en la tabla física (Key Lookup).
-- ==========================================================================================

CREATE NONCLUSTERED INDEX IX_T_Persona_Documento 
ON [dbo].[T_Persona] ([iCodTipoDocPer], [vDocPer])
INCLUDE ([vNombres], [vApellidoPaterno], [vApellidoMaterno], [bActivo]);
