USE [BD_RCPDOC]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
CREATE OR ALTER PROCEDURE [dbo].[USP_RegistroPersonaJuridica]
    @vRucEmpresa VARCHAR(20),
    @vRazonSocial VARCHAR(255),
    @iCodTipoDocRep INT, 
    @vDocRep VARCHAR(20),
    @vNombresRep VARCHAR(100),
    @vApellidoPaternoRep VARCHAR(100),
    @vApellidoMaternoRep VARCHAR(100),
    @vEmailRep VARCHAR(150),
    @vTelefonoRep VARCHAR(20),
    @vDireccionRep VARCHAR(255),
    @vCodDistritoRep VARCHAR(6),
    @iCodAsunto INT = NULL, -- Permitir nulo desde el inicio
    @vRutaDoc VARCHAR(MAX),    
    @iCodTipoDoc INT,           
    @vNroDoc VARCHAR(50),
    @dFecDoc DATE,
	@vNombreAsunto VARCHAR(MAX),
    @vReferencia VARCHAR(MAX),
    @vNroPagFolios VARCHAR(50),
    @btipo BIT,
    @vLink VARCHAR(MAX) = NULL 
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
    
    DECLARE @iCodPerEmpresa INT;
    DECLARE @iCodPerRepresentante INT;
    DECLARE @GeneratediCodDoc INT;
    DECLARE @vAutoGenerado VARCHAR(MAX);

    BEGIN TRY
        BEGIN TRANSACTION;
         
        -- 0. Validación de anexos (SOLO si btipo es 1, ya que 0 es el principal)
        -- Si es btipo 1 (anexo) y no trae asunto, es un error real.
        IF (@btipo = 1 AND @iCodAsunto IS NULL)
        BEGIN
            RAISERROR('Error: Para adjuntar un anexo es obligatorio proporcionar un iCodAsunto.', 16, 1);
            RETURN;
        END
         
        -- 1. CONTROL DEL REPRESENTANTE LEGAL
        SELECT @iCodPerRepresentante = iCodPer FROM dbo.T_Persona WHERE iCodTipoDocPer = @iCodTipoDocRep AND vDocPer = @vDocRep;

        IF (@iCodPerRepresentante IS NULL)
        BEGIN
            INSERT INTO dbo.T_Persona (iCodTipoPer, iCodTipoDocPer, vDocPer, vNombres, vApellidoPaterno, vApellidoMaterno, vEmail, vTelefono, bActivo, vDireccion, vCodDistrito, bCorreoVerificado, vPassword)
            VALUES (1, @iCodTipoDocRep, @vDocRep, UPPER(@vNombresRep), UPPER(@vApellidoPaternoRep), UPPER(@vApellidoMaternoRep), UPPER(@vEmailRep), @vTelefonoRep, 1, UPPER(@vDireccionRep), @vCodDistritoRep, 1, 'NO_APLICA');
            SET @iCodPerRepresentante = SCOPE_IDENTITY();
        END

        -- 2. CONTROL DE LA EMPRESA
        IF NOT EXISTS (SELECT 1 FROM dbo.T_Contribuyente WHERE ruc = @vRucEmpresa)
            INSERT INTO dbo.T_Contribuyente (ruc, nombre_razon_social) VALUES (@vRucEmpresa, UPPER(@vRazonSocial));

        SELECT @iCodPerEmpresa = iCodPer FROM dbo.T_Persona WHERE iCodTipoDocPer = 2 AND vDocPer = @vRucEmpresa;

        IF (@iCodPerEmpresa IS NULL)
        BEGIN
            INSERT INTO dbo.T_Persona (iCodTipoPer, iCodTipoDocPer, vDocPer, vEmpresa, vEmail, bActivo, bCorreoVerificado, iCodPerRepresentante, vPassword)
            VALUES (2, 2, @vRucEmpresa, UPPER(@vRazonSocial), '', 1, 0, @iCodPerRepresentante, 'NO_APLICA');
            SET @iCodPerEmpresa = SCOPE_IDENTITY();
        END

        -- 3. CONTROL DE T_ASUNTO (Solo si es principal btipo=0)
        IF (@btipo = 0)
        BEGIN
            SET @vAutoGenerado = 'AGRORURAL_' + SUBSTRING(CONVERT(VARCHAR(50), NEWID()), 1, 8);
            
            INSERT INTO dbo.T_Asunto (iCodEstado, vNombreAsunto, iCodPer, vMailSeguimiento, vAutoGenerado, bActivo, dtFechaCreacion)
            VALUES (1, UPPER(@vNombreAsunto), @iCodPerRepresentante, UPPER(@vEmailRep), @vAutoGenerado, 1, GETDATE());
            
            SET @iCodAsunto = SCOPE_IDENTITY();

            INSERT INTO dbo.T_Tramite (iCodTipoPer, iCodAsunto, vRUC)
            VALUES (1, @iCodAsunto, @vRucEmpresa);
        END

        -- 4. INSERCIÓN EN T_DOCUMENTO
        INSERT INTO dbo.T_Documento (iCodPer, iCodAsunto, vRutaDoc, iCodTipoDoc, vNroDoc, dFecDoc, dFecRecepcion, vReferencia, vNroPagFolios, vLink, bActivo, dtFechaCargaArchivo, btipo)
        VALUES (@iCodPerRepresentante, @iCodAsunto, @vRutaDoc, @iCodTipoDoc, UPPER(@vNroDoc), @dFecDoc, GETDATE(), UPPER(@vReferencia), LEFT(@vNroPagFolios, 50), @vLink, 1, GETDATE(), @btipo);

        SET @GeneratediCodDoc = SCOPE_IDENTITY();

        COMMIT TRANSACTION;

        SELECT @GeneratediCodDoc AS iCodDoc, @iCodAsunto AS iCodAsunto, 'OK' AS Status, UPPER(@vEmailRep) AS MailSeguimiento, @vAutoGenerado AS vAutoGenerado;    

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        DECLARE @ErrMsg NVARCHAR(4000) = 'Error en USP_RegistroPersonaJuridica: ' + ERROR_MESSAGE();
        RAISERROR(@ErrMsg, 16, 1);
    END CATCH
END;