USE [BD_RCPDOC]
GO
/****** Object:  StoredProcedure [dbo].[USP_Persona_GestionarCredenciales]    Script Date: 3/07/2026 12:30:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Creamos el procedimiento desde cero con todos los alias de columna corregidos
ALTER PROCEDURE [dbo].[USP_Persona_GestionarCredenciales]
    @vEmail VARCHAR(250),
    @vCodigoOTP VARCHAR(10) = NULL,
    @iTipoAccion INT -- 1: Validar OTP y Activar, 2: Inicializar/Recuperar Clave y Verificar
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NewPassword VARCHAR(12);
    DECLARE @iCodPer INT;
    DECLARE @bCorreoVerificado BIT;
    DECLARE @bActivo BIT;

    -- Buscar la persona por correo electrónico
    SELECT @iCodPer = [iCodPer], 
           @bCorreoVerificado = [bCorreoVerificado],
           @bActivo = [bActivo]
    FROM [BD_RCPDOC].[dbo].[T_Persona]
    WHERE [vEmail] = @vEmail;

    -- Si no existe el usuario, retornar error con su alias correcto
    IF @iCodPer IS NULL
    BEGIN
        SELECT 0 AS Exitoso, 'El correo electrónico no se encuentra registrado.' AS Mensaje, NULL AS PasswordGenerado;
        RETURN;
    END

    -- Generar contraseña aleatoria de 8 caracteres planos (se envía por correo)
    SET @NewPassword = SUBSTRING(REPLACE(CAST(NEWID() AS VARCHAR(50)), '-', ''), 1, 8);

    -- =========================================================================
    -- ACCIÓN 1: VALIDAR OTP Y ACTIVAR CUENTA (Por si usas OTP en otro flujo)
    -- =========================================================================
    IF @iTipoAccion = 1
    BEGIN
        IF @bCorreoVerificado = 1
        BEGIN
            SELECT 0 AS Exitoso, 'Esta cuenta ya se encuentra activada y verificada.', NULL AS PasswordGenerado;
            RETURN;
        END

        IF EXISTS (SELECT 1 FROM [BD_RCPDOC].[dbo].[T_Persona] WHERE [iCodPer] = @iCodPer AND [vCodigoRecup] = @vCodigoOTP)
        BEGIN
            UPDATE [BD_RCPDOC].[dbo].[T_Persona]
            SET [bCorreoVerificado] = 1,
                [bActivo] = 1,
                [vPassword] = LOWER(CONVERT(VARCHAR(64), HASHBYTES('SHA2_256', @NewPassword), 2)),
                [vCodigoRecup] = NULL       
            WHERE [iCodPer] = @iCodPer;

            SELECT 1 AS Exitoso, 'Cuenta verificada con éxito. Se ha enviado su contraseña de acceso al correo.' AS Mensaje, @NewPassword AS PasswordGenerado;
        END
        ELSE
        BEGIN
            SELECT 0 AS Exitoso, 'El código de verificación ingresado es incorrecto o ha expirado.' AS Mensaje, NULL AS PasswordGenerado;
        END
    END

    -- =========================================================================
    -- ACCIÓN 2: GENERAR PRIMERA CLAVE / RECUPERAR (Activa la cuenta directamente)
    -- =========================================================================
    ELSE IF @iTipoAccion = 2
    BEGIN
        UPDATE [BD_RCPDOC].[dbo].[T_Persona]
        SET [vPassword] = LOWER(CONVERT(VARCHAR(64), HASHBYTES('SHA2_256', @NewPassword), 2)),
            [bCorreoVerificado] = 1, -- 🌟 FIJADO: Cambia de 0 a 1 inmediatamente al generar la clave
            [bActivo] = 1            -- 🌟 FIJADO: Asegura que el usuario pueda hacer login
        WHERE [iCodPer] = @iCodPer;

        SELECT 1 AS Exitoso, 'Se ha generado la clave de acceso y activado la cuenta con éxito.' AS Mensaje, @NewPassword AS PasswordGenerado;
    END
END
